.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 1.25rem;
}

.fancybox__backdrop {
	background: rgba(75, 64, 54, 0.95);
}

.fancybox__content {
	color: inherit;
	background: none;
	// position: static !important;
	padding: 0;
}

// .is-animating .fancybox__content {
// 	will-change: width, height !important;
// }
// .is-dragging .fancybox__content {
// 	will-change: width, height !important;
// }

.fancybox__content > .f-button.is-close-btn {
	// position: fixed !important;
	// top: 1rem;
	// right: 1rem;
	--f-button-width: #{rem(44)};
	--f-button-height: #{rem(44)};
	top: rem(-50);
	background: #b2a69b;
	color: #fff;
	@media (any-hover: hover) {
		&:hover {
			background: $text;
		}
	}
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	background: none;
	max-width: 61.5rem;
	margin: 0 auto;
	&.popup-sm {
		max-width: rem(375);
	}
}

.search {
	// .search__field
	&__field {
		&.form-control {
			font-size: 1.5rem;
		}
	}
	// .search__btn
	&__btn {
		font-size: 1.5rem;
	}
}
