.footer {
	background: $brown;
	color: #fff;
	padding: rem(130) 0 rem(20);
	// .footer__title
	&__title {
	}
	// .footer__slider
	&__slider {
	}
	// .footer__slide
	&__slide {
	}
	// .footer__body
	&__body {
	}
	// .footer__logo
	&__logo {
	}
	// .footer__desc
	&__desc {
	}
	// .footer__payment
	&__payment {
	}
	// .footer__payment-list
	&__payment-list {
	}
	// .footer__payment-item
	&__payment-item {
	}
	// .footer__menu
	&__menu {
	}
	// .footer__menu-list
	&__menu-list {
	}
	// .footer__form
	&__form {
	}
	// .footer__form-row
	&__form-row {
	}
	// .footer__form-hint
	&__form-hint {
	}
	// .footer__socials
	&__socials {
	}
	// .footer__socials-text
	&__socials-text {
	}
	// .footer__bottom
	&__bottom {
	}
	// .footer__copy
	&__copy {
	}
	// .footer__mail
	&__mail {
	}
}
