// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "../../node_modules/bootstrap/scss/bootstrap";
// &display=swap&subset=cyrillic-ext
@import "fonts";
@import "icons";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Lato";
$font-cormorant: "Cormorant";

// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1280); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #4b4036;
$beige: #fcf7ee;
$red: #9f2124;
$beige-dark: #e8d1bb;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	color: $text;
	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}
html.with-fancybox body.hide-scrollbar {
	margin-right: 0 !important;
}

:root {
	--bs-light-rgb: 232, 209, 187;
	--bs-dark-rgb: 75, 64, 54;
	--bs-danger-rgb: 159, 33, 36;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
	padding-right: rem(20);
	padding-left: rem(20);
	@media (min-width: $md0) {
		max-width: rem(1530);
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	@media (min-width: $md4) {
		overflow-x: clip;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

//=============== ОСНОВНАЯ СЕТКА===============================

//================Общий файл для элементов страницы

@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}

// ========================================================

@import "pages/home.scss";
@import "pages/catalog.scss";
@import "pages/contacts.scss";
@import "pages/policy.scss";

.product {
	// .product__thumb
	&__thumb {
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border-style: solid;
			border-color: currentColor;
			transition: all 0.3s linear;
			z-index: 4;
		}
		&::before {
			border-width: 0 0 rem(1) rem(1);
			clip-path: inset(100% 100% 0% 0%);
		}
		&::after {
			border-width: rem(1) rem(1) 0 0;
			clip-path: inset(0% 0% 100% 100%);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					clip-path: inset(0% 0% 0% 0%);
				}
				& .product__image {
					& img {
						transform: scale3d(1.1, 1.1, 1.1);
					}
					&::before {
						opacity: 1;
						visibility: visible;
					}
				}
				& .product__labels {
					opacity: 0;
					visibility: hidden;
				}
				.product__favorite-btn {
					opacity: 1;
					visibility: visible;
				}
				.product__btn {
					opacity: 1;
				}
			}
		}
	}
	// .product__image
	&__image {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(249, 249, 249, 0.66);
			opacity: 0;
			visibility: hidden;
			z-index: 2;
			transition: opacity 0.3s ease 0s, visibility 0.3s ease;
		}
		& img {
			transition: transform 0.3s ease;
			width: 100%;
		}
	}
	// .product__btn
	&__btn {
		opacity: 0;
		z-index: 2;
		width: calc(100% - rem(10));
		overflow: hidden;
		&::before {
			position: absolute;
			top: 100%;
			left: 50%;
			font-size: 1.75em;
			opacity: 0;
			visibility: hidden;
			transform: translate3d(-50%, 0, 0);
			transition: all 0.3s ease;
		}
		& span {
			transition: all 0.3s ease;
			display: block;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translate3d(-50%, -50%, 0);
					top: 50%;
					opacity: 1;
					visibility: visible;
				}
				& span {
					transform: translate3d(0, -200%, 0);
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
	// .product__favorite-btn
	&__favorite-btn {
		top: rem(16);
		right: rem(16);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s, visibility 0.3s ease;
	}
	// .product__labels
	&__labels {
		top: rem(5);
		right: rem(5);
		font-size: rem(10);
		letter-spacing: em(1, 10);
		transition: opacity 0.3s ease 0s, visibility 0.3s ease;
	}
	// .product__label
	&__label {
		min-width: rem(50);
		min-height: rem(25);
	}
	// .product__body
	&__body {
	}
	// .product__name
	&__name {
		color: $text;
		text-decoration: none;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	// .product__price
	&__price {
	}
	// .product__price-old
	&__price-old {
	}
	// .product__price-current
	&__price-current {
	}
	// .product__cashback
	&__cashback {
	}
}

.heading {
	padding: rem(30) 0 rem(60);
	@media (min-width: $md2) {
		padding: rem(60) 0 rem(100);
	}
	// .heading__title
	&__title {
	}
}

.breadcrumb {
	&-item {
		font-size: rem(12);

		a {
			color: inherit;
			text-decoration: none;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: #b2a69b;
				}
			}
		}
		&.active {
			color: #b2a69b;
			pointer-events: none;
		}
	}
}

.sidebar {
	// .sidebar__title
	&__title {
	}
	// .sidebar__list
	&__list {
		& a {
			text-decoration: none;
			color: inherit;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: #b2a69b;
				}
			}
		}
	}
	&__badges {
		a {
			font-size: 1.25rem;
			text-decoration: none;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background: #b2a69b !important;
				}
			}
		}
	}
}
