//============ МОДУЛИ ====================
@import "modules/popup";
@import "modules/range-slider";
//============ МОДУЛИ ====================

.title-lg {
	font-size: rem(36);
	@media (min-width: $md4) {
		font-size: rem(50);
	}
	@media (min-width: $md2) {
		font-size: rem(68);
	}
	font-family: $font-cormorant;
	font-style: italic;
}

.title {
	font-size: clamp(2rem, 1.7rem + 1.5vw, 3.5rem);
	font-family: $font-cormorant;
	font-style: italic;
}

.title-md {
	font-size: rem(36);
	font-family: $font-cormorant;
	font-style: italic;
}

.title-sm {
	font-family: $font-cormorant;
	font-style: italic;
	font-size: rem(24);
	@media (min-width: $md4) {
		font-size: rem(30);
	}
}

.title-decor {
	position: relative;
	z-index: 1;
	&.text-center {
		&::before {
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: rem(150);
		height: rem(150);
		z-index: -1;
		pointer-events: none;
		background: url("@img/decor/branch-beige.svg") center / contain no-repeat;
	}
}

.title-xs {
	font-size: rem(24);
	font-family: $font-cormorant;
	font-style: italic;
}

.font-secondary {
	font-family: $font-cormorant;
}

.subtitle {
	font-size: rem(14);
	letter-spacing: em(3.25, 14);
	line-height: 1.7;
}

.color-secondary {
	color: #b2a69b;
}

.bg-beige {
	background: #fdf9f5;
}

.bg-light {
	--bs-bg-opacity: 0.3;
}

.favorite-btn {
	&::before {
		@extend %ic, .icon-heart;
		transition: all 0.3s ease 0s;
	}
	&:not(.btn) {
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		text-decoration: none;
		color: inherit;
		@media (any-hover: hover) {
			&:hover {
				color: $beige-dark;
			}
		}
	}
	&.active {
		&::before {
			@extend %ic, .icon-heart-fill;
			color: $text;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
		}
	}
	&.btn {
		&.active {
			&::before {
				color: #fff;
			}
		}
	}
}

.quantity-block {
	border: rem(1) solid #b2a69b;
	// .quantity-block__btn
	&__btn {
		width: rem(52);
		height: rem(52);
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #b2a69b;
				color: #fff;
			}
		}
	}
	// .quantity-block__input
	&__input {
		width: rem(52);
		height: rem(52);
		font-size: 1.5rem;
		border-top: 0;
		border-bottom: 0;
		border-left: rem(1) solid #b2a69b;
		border-right: rem(1) solid #b2a69b;
		padding: 0;
		text-align: center;
	}
}

.swiper-pagination {
	position: static;
	display: flex;
	align-items: center;
	justify-content: center;
	--swiper-pagination-bullet-horizontal-gap: #{rem(8)};
	.swiper-pagination-bullet {
		// opacity: 1;
		position: relative;
		width: rem(24);
		height: rem(24);
		&::before {
			content: "";
			position: absolute;
			background: #4b4036;
			width: rem(10);
			height: rem(10);
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.2s linear;
		}

		&.swiper-pagination-bullet-active {
			&::before {
				width: rem(20);
				height: rem(20);
				background: #b2a69b;
			}
		}
	}
}

.btn-top {
	background: $text;
	color: #fff;
	width: rem(40);
	height: rem(40);
	box-shadow: 0 rem(1) rem(9) rem(1) rgba(233, 233, 233, 0.2);
	bottom: 1rem;
	right: 1rem;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	z-index: 6;
	@media (any-hover: hover) {
		&:hover {
			background: #fff;
			color: $text;
		}
	}
}

.pagination {
	--bs-pagination-padding-x: 1em;
	--bs-pagination-padding-y: 0.5em;
	--bs-pagination-font-size: 1rem;
	--bs-pagination-color: #{$text};
	--bs-pagination-bg: var(--bs-body-bg);
	--bs-pagination-border-width: var(--bs-border-width);
	--bs-pagination-border-color: var(--bs-border-color);
	--bs-pagination-border-radius: var(--bs-border-radius);
	--bs-pagination-hover-color: #fff;
	--bs-pagination-hover-bg: #{$text};
	--bs-pagination-hover-border-color: var(--bs-border-color);
	--bs-pagination-focus-color: #b2a69b;
	--bs-pagination-focus-bg: var(--bs-secondary-bg);
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem #{rgba($text, 0.5)};
	--bs-pagination-active-color: #fff;
	--bs-pagination-active-bg: #{$text};
	--bs-pagination-active-border-color: var(--bs-border-color);
	--bs-pagination-disabled-color: var(--bs-secondary-color);
	--bs-pagination-disabled-bg: var(--bs-secondary-bg);
	--bs-pagination-disabled-border-color: var(--bs-border-color);
	& .page-link {
		// font-size: 1.5rem;
		// color: inherit;
		&.active {
			// color: var(--bs-pagination-active-color);
			// background-color: var(--bs-pagination-active-bg);
			// border-color: var(--bs-pagination-active-border-color);
		}
	}
}

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $beige;
$scrollbarHover: darken(
	$color: $scrollbarColor,
	$amount: 10,
);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #252833;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
